<html>
<body>
<h1>Press keys to send to me</h1>
<script type="text/javascript">
window.pressedKeys = {};
window.lastKeysSent = {};
const getUpdateFunc = ({ remove }) => {
	const handler = event => {
		const pressedKeys = window.pressedKeys;
		const lastKeysSent = window.lastKeysSent;
		event = event || window.event;
		const keyCode = event.keyCode;
		if (remove) {
			delete pressedKeys[keyCode];
		} else {
			pressedKeys[keyCode] = true;
		}
		const requestTime = new Date().toISOString();
		const body = { pressedKeys, requestTime };
		window.lastKeysSent = Object.assign(
			{}, body.pressedKeys
		)
		fetch('/keyevent', {
			method: 'POST',
			body: JSON.stringify(body),
			headers: {
				'Content-Type': 'application/json',
			},
		});
	};
	return handler;
};
document.onkeydown = getUpdateFunc({ remove: false });
document.onkeyup = getUpdateFunc({ remove: true });
</script>
</body>
</html>